.grid {
	display: grid;
	flex-wrap: nowrap;
	grid-gap: 16px;
	grid-template-columns: repeat(12, 1fr);
	margin-left: 0;
	margin-right: 0;
}
.grid-col-12 {
	padding-left: 0;
	width: auto;
	grid-column: span 12;
}
